@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #eee;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

  .welcome-greeting{
    place-self: center;
    place-content: center;
    width: 40%;
    height: 40%;
    border: none;
    border-radius: 8px;
  }

  .greeting-content{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .greeting-button{
    width: 30%;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    min-height: 70vh;
  }

  .gameboard{
    min-width: 37%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    text-align: center;
    gap: 1rem;
  }

  .game-tile{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e79c3a;
    border-radius: 4px;
    cursor: pointer;
    transition: ease .3s;
  }

  .game-tile:hover{
    transform: scale(1.05);
  }

  .player-input-container{
    display: flex;
    flex-direction: column;
  }

  .player-choice-container{
    display: flex;
    min-width: 80%;
    justify-content: center;
    gap: 2rem;
  }

  .choice{
    min-width: 10rem;
    min-height: 3ch;
    font-weight: bold;
  }

  #player1Form, #player2Form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .player-greeting{
    text-align: center;
  }


  .X::after{
    content: '✘';
    font-size: 3rem;
    transition: ease .3s;
  }

  .O::after{
    content: 'ⓞ';
    font-size: 3rem;
    transition: ease .3s;
  }

  #winnerModal{
    place-self: center;
    place-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    border: none;
    border-radius: 8px;
  }

  button, label, input{
    font-weight: bold;
  }

  ::backdrop{
    background:center url(images/odin.png);
  }

  dialog{
    background-color: rgba(255, 255, 255, 0.692);
    border: 1px solid #c98122;
    animation: modalTransition .3s ease;
  }


  @keyframes modalTransition {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  input[type=button]{
    font-weight: 1000;
    background-color: #c98122;
    color: white;
    border: none;
    transition: ease .3s;
    border-radius: 3px;
    border: 2px solid #5c390b;
  }

  input[type=button]:hover{
    background-color: #e79c3a;
  }

  input[type=text]{
    min-width: 3rem;
  }

  input[type=button]:disabled{
    background-color: #bd771cc0;
  }